
#songs div {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#songs img {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30;
}

#songs .title{
    font-size: 32pt;
}

