body {
  background-color: #efefef;
}

.collection .collection-item.avatar {
  min-height: 145px;
  padding-left: 160px;
  transition-property: width, height, min-height, padding-left;
  transition-duration: 750ms;
}

.collection .collection-item.avatar .circle {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.collection .collection-item.avatar:first-child {
  min-height: 270px;
  padding-left: 280px;
}

.collection .collection-item.avatar:first-child .circle {
  width: 250px;
  height: 250px;
}

.effect-enter-active, .effect-leave-to, .effect-move {
    transition: all 1s;
}

.effect-enter {
    opacity: 0;
    transform: translateY(-20px);
}
