
#songs div {
    clear: both;
}

#songs img {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    float: left;
}

#songs .title {
    font-size: 32pt;
}

#songs .artist {
    font-size: 24pt;
}

.effect-enter-active, .effect-leave-to, .effect-move {
    transition: all 1s;
}

.effect-enter {
    opacity: 0;
    transform: translateY(-20px);
}
